* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
}

body {
  background-color: #f5f5f5;
}

/* Variables */
:root {
  --black: #161616;
  --orange: #c7722c;
  --white: #f4f4f4;
}

a {
  text-decoration: none;
  color: var(--black);
}

h1 {
  font-size: 2.1rem;
}

p {
  color: #4d4d4d;
}

/* Utilities */
.container {
  max-width: 80%;
  margin: auto;
}

.btn {
  background-color: #5233d1;
  border: none;
  display: inline-block;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 4px;
  color: var(--white);
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.btn-option {
  display: inline-block;
  color: var(--orange);
  border: var(--orange) 1px solid;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 5px;
  padding: 0.8rem 1.5rem;
  transition: 0.3s;
}

.btn-option:hover,
.active {
  color: var(--white);
  background-color: var(--orange);
}

.btn-search {
  display: inline-block;
  background-color: #5233d1;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  color: var(--white);
  border-radius: 5px;
  padding: 0.8rem 1.5rem;
  transition: 0.3s;
}

#error {
  color: red;
  margin-bottom: 1rem;
}

@media (max-width: 1000px) {
  p {
    font-size: 1.2rem;
  }

  .btn {
    width: 100%;
    font-size: 1.2rem;
  }

  .btn-option {
    font-size: 1.2rem;
  }

  #error {
    font-size: 1.4rem;
  }
}

/* Navigation */
.nav {
  display: flex;
  padding: 1.5rem 0;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  color: var(--black);
  font-weight: 700;
}

.nav-links li:not(:last-child) {
  margin-right: 2rem;
}

.nav-links li {
  list-style: none;
}

@media (max-width: 1000px) {
  .nav {
    flex-direction: column;
  }

  .nav-links {
    flex-direction: column;
    font-size: 1.3rem;
  }

  .nav-links li {
    margin-top: 1.5rem;
  }

  .nav-links li:not(:last-child) {
    margin-right: 0;
  }
}

/* Landing Page */
#landing-page {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 85vh;
}

.landing-page-heading {
  text-align: center;
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.landing-page-heading h3 {
  font-size: 1.1rem;
  font-weight: 500;
  color: #eeeeee;
}

.landing-page-heading *:not(:last-child) {
  padding-bottom: 1.5rem;
}

@media (max-width: 1000px) {
  .landing-page-heading h1 {
    font-size: 2.5rem;
  }

  .landing-page-heading h3 {
    font-size: 1.3rem;
  }
}

/* APOD */
.apod {
  padding: 7rem 0;
}

.apod-heading {
  text-align: center;
}

.apod-wrapper {
  display: flex;
  align-items: center;
  padding: 3rem 0;
}

.apod-image {
  min-width: 45%;
}

.apod-iframe {
  border: none;
  min-width: 45%;
  min-height: 450px;
}

.apod-content {
  padding-left: 3rem;
}

.apod-content *:not(:last-child) {
  padding-bottom: 0.7rem;
}

.apod-copyright {
  color: #3d3d3d;
}

.apod-explanation {
  line-height: 2;
}

@media (max-width: 1000px) {
  .apod-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .apod-image {
    max-width: 100%;
  }

  .apod-content {
    padding-top: 3rem;
    padding-left: 0;
  }
}

/* What's ISS */
.whats-iss {
  display: flex;
  align-items: center;
  padding: 7rem 0;
}

.whats-iss-content {
  padding-right: 3rem;
  line-height: 2;
}

.whats-iss-image {
  min-width: 45%;
}

@media (max-width: 1000px) {
  .whats-iss {
    flex-direction: column;
  }

  .whats-iss-content {
    text-align: center;
    padding-right: 0;
    margin-bottom: 3rem;
  }

  .whats-iss-image {
    max-width: 100%;
  }
}

/* Realtime ISS Location */
.realtime-iss {
  padding: 7rem 0;
}

.realtime-iss-heading {
  text-align: center;
  padding-bottom: 2.5rem;
}

#issMap {
  min-height: 700px;
}

/* Latest Mars Photos */
.latest-mars {
  text-align: center;
  padding: 7rem 0;
}

.latest-mars-text {
  line-height: 2;
}

.latest-rovers * {
  margin: 1rem 0;
}

.latest-rovers ul li:not(:last-child) {
  margin-right: 3rem;
}

.latest-rovers ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.rover-image {
  max-width: 40%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .latest-rovers ul {
    flex-direction: column;
  }

  .latest-rovers ul li:not(:last-child) {
    margin-right: 0;
  }

  .rover-image {
    min-width: 100%;
  }
}
/* Footer */
#footer {
  background-color: #2b303f;
}

.footer {
  display: flex;
  padding: 5rem 0;
  align-items: center;
  justify-content: space-between;
}

.footer-logo p {
  font-size: 14px;
  padding-top: 1rem;
  color: #c4c4c4;
}

.footer-logo h1 {
  color: var(--white);
}

.footer-links {
  display: flex;
  list-style: none;
}

.footer-links li:not(:last-of-type) {
  margin-right: 3rem;
}

.footer-links li a {
  color: #e2e2e2;
}

@media (max-width: 1000px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-links {
    margin-top: 3rem;
    font-size: 1.2rem;
    flex-direction: column;
  }

  .footer-links li:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

/* Image Library */
.search {
  padding: 5rem 0;
}

.image-library {
  text-align: center;
}

.search-form {
  margin-top: 1.5rem;
}

.search-input {
  border: 1px solid #c5c5c5;
  font-size: 1rem;
  min-width: 40%;
  padding: 0.8rem;
  outline: none;
  border-radius: 5px;
  margin-right: 5px;
}

.search-results {
  margin-top: 5rem;
}

.searched {
  margin: 3rem 0;
  display: flex;
  line-height: 2;
  align-items: center;
}

.searched-image {
  max-width: 30%;
}

.searched-content {
  padding-left: 2rem;
}

@media (max-width: 1000px) {
  .search-input {
    min-width: 100%;
    font-size: 1.5rem;
  }

  .btn-search {
    display: none;
  }

  .search-results {
    font-size: 1.4rem;
  }

  .searched {
    flex-direction: column;
  }

  .searched-content {
    padding-left: 0;
  }

  .searched-image {
    max-width: 100%;
  }
}
